
<div class="bookings">
    <h6 style="color: #ffd911">@ViewData["address"]</h6>
    <h6>Mobiles </h6>
    <span style="color: #ffd911">@ViewData["number"] <p><strong> OR </strong></p> @ViewData["number2"]</span>
    <h6>Contact Email:</h6>
    <span style="color: #ffd911">@ViewData["email"]</span>
</div>