@model MeckDoramenAndAssociates.Models.Enquiry

<form asp-action="MakeEnquiry" asp-controller="Enquiry">
    <input type="text" placeholder="Your Name" required>
    <input type="text" placeholder="Your Email" required>
    <input type="text" placeholder="Your Phone Number" required>
    <textarea placeholder="Your Message" required></textarea>
    <button type="submit">alright submit it</button>
</form>