@model MeckDoramenAndAssociates.Models.Enquiry

<form asp-action="MakeEnquiry">
    <input asp-for="Email" type="text" placeholder="Your Email" required>
    <input asp-for="PhoneNumber" type="text" placeholder="Your Phone Number" required>

    <input asp-for="FullName" type="text" placeholder="Your Full Name" required>

    <textarea asp-for="Message" placeholder="Your Message" required></textarea>

    <button type="submit">alright submit it</button>
</form>