<div class="row">
    <div class="col-lg-5" data-aos="fade-up" data-aos-duration="800">
        <span>About Meck Doramen And Associates</span>
        <h3>@ViewData["header"]</h3>
    </div>
    <div class="col-lg-7" data-aos="fade-up" data-aos-duration="800">
        <p style="text-align: justify">
            @ViewData["body"]
        </p>
        <a asp-action="Index" asp-controller="AboutUs">Read More</a>
    </div>
</div>