<div class="container">
    <ul class="row">
        <li class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="800">
            <h4>Enquiry About More</h4>
            <partial name="~/Views/Shared/Enquiry.cshtml" />
        </li>
        <li class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="800">
            <partial name="~/Views/Shared/Contacts.cshtml" />
        </li>
    </ul>
</div>