<div class="container">
    <div class="row">
        <div class="col-lg-5" data-aos="fade-up" data-aos-duration="800">
            <span>Our Skills and Expertises</span>
            <h3>See Where We Really Stand In The Different Generes of Photography</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
            </p>
        </div>

        <div class="col-lg-7 progress-text" data-aos="fade-up" data-aos-duration="800">
            <div class="p-text">
                <span>wedding Photography</span>
            </div>
            <div class="progress" style="height:6px;">
                <div class="progress-bar" style="width:75%;height:6px" data-aos="fade-right" data-aos-duration="800">
                </div>
                <span class="one" data-aos="fade-right" data-aos-duration="800"></span>
            </div>

            <div class="p-text">
                <span>Portraits Photography</span>
            </div>
            <div class="progress" style="height:6px;">
                <div class="progress-bar" style="width:90%;height:6px" data-aos="fade-right" data-aos-duration="800"></div>
                <span class="two" data-aos="fade-right" data-aos-duration="800"></span>
            </div>

            <div class="p-text">
                <span>Nature Photography</span>
            </div>
            <div class="progress" style="height:6px;">
                <div class="progress-bar" style="width:60%;height:6px" data-aos="fade-right" data-aos-duration="800"></div>
                <span class="three" data-aos="fade-right" data-aos-duration="800"></span>
            </div>

            <div class="p-text">
                <span>Post Processing</span>
            </div>
            <div class="progress" style="height:6px;">
                <div class="progress-bar" style="width:80%;height:6px" data-aos="fade-right" data-aos-duration="800"></div>
                <span class="four" data-aos="fade-right" data-aos-duration="800"></span>
            </div>

            <div class="p-text">
                <span>Street Photography</span>
            </div>
            <div class="progress" style="height:6px;">
                <div class="progress-bar" style="width:75%;height:6px" data-aos="fade-right" data-aos-duration="800"></div>
                <span class="five" data-aos="fade-right" data-aos-duration="800"></span>
            </div>
        </div>
    </div>
</div>