<div class="row">
    <div class="col-lg-5" data-aos="fade-up" data-aos-duration="800">
        <span>About Meck Doramen And Associates</span>
        <h3>Snappy Is A Beautiful Theme For Photographers</h3>
    </div>
    <div class="col-lg-7" data-aos="fade-up" data-aos-duration="800">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <a href="portfolio.html">view portfolio</a>
    </div>
</div>