@model dynamic

<div class="container">
    <div class="row">
        <div class="col-lg-5" data-aos="fade-up" data-aos-duration="800">
            <span>Our Skills and Expertises</span>
            <h3>@ViewData["skillheader"]</h3>
            <p style="text-align: justify">
                @ViewData["skillbody"]
            </p>
        </div>

        <div class="col-lg-7 progress-text" data-aos="fade-up" data-aos-duration="800">

            @foreach (Skills skills in Model.Skills)
            {
                <div class="p-text">
                    <a asp-action="expand" asp-controller="skills" asp-route-id="@skills.SkillsId">
                        <span>@skills.Name</span>
                    </a>
                </div>
                <div class="progress" style="height:6px;">
                    <div class="progress-bar" style="width:@skills.Rating%;height:6px" data-aos="fade-right" data-aos-duration="800">
                    </div>
                </div>
            }
        </div>
    </div>
</div>