<div class="container">
    <ul>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">07</h6>
            <span>years completed</span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">176</h6>
            <span>client list</span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">598</h6>
            <span>projects done</span>
        </li>
        <li>
            <h6 class="mycounter" data-counter-time="1000" data-counter-delay="0">45</h6>
            <span>awards received</span>
        </li>
    </ul>
</div>