@model MeckDoramenAndAssociates.Models.Skills
@{ 
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

        <div id="carouselExampleIndicators" class="banner carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background: url(UploadedFiles/Skills/@Html.DisplayFor(model => model.Name);background-size:cover;background-repeat: no-repeat;">
                    <div class="layer">
                        <div style="padding-top: 300px;" class="container" data-aos="zoom-in" data-aos-duration="800">
                            @*<h4>SKILL</h4>*@
                            @*<span>to</span>*@
                            <h4>@Html.DisplayFor(model => model.Name)</h4>
                            @*<a asp-action="Index" asp-controller="AboutUs">About Us</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                        <h1>
                            <b>
                                @Html.DisplayFor(model => model.Name)
                            </b>
                        </h1>
                        <br />
                        <p style="text-align: justify">
                            @Html.DisplayFor(model => model.Explanation)
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="index-contact">
            <partial name="~/Views/Shared/LandingContacts.cshtml" />
        </section>
        

