@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<h2 style="text-align: center">A link has been sent to your <b class="text-blue">@ViewData["recoveriedemail"]</b> email address</h2>

