@model dynamic

@{
    ViewData["Title"] = "Read More";
    Layout = "~/Views/Shared/SecondLandingLayout/_SecondLandingLayout.cshtml";
}

<section class="products-title">
    <div class="container">
        <h3>
            <strong>
                Make Enquiry
            </strong>
        </h3>
    </div>
</section>

<section class="index-contact">
    <div class="container">
        <ul class="row">
            <li class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="800">
                @*<form asp-action="MakeEnquiry">
                    <input asp-for="Email" type="text" placeholder="Your Email" required>
                    <input asp-for="PhoneNumber" type="text" placeholder="Your Phone Number" required>

                    <input asp-for="FullName" type="text" placeholder="Your Full Name" required>
                    
                    <textarea asp-for="Message" placeholder="Your Message" required></textarea>

                    <button type="submit">alright submit it</button>
                </form>*@
            </li>
            <li class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="bookings">
                    <h6 style="color: #ffd911">@ViewData["address"]</h6>
                    <h6>Mobiles </h6>
                    <span style="color: #ffd911">@ViewData["number"] <p><strong> OR </strong></p> @ViewData["number2"]</span>
                    <h6>Contact Email:</h6>
                    <span style="color: #ffd911">@ViewData["email"]</span>
                </div>
            </li>
        </ul>
    </div>

</section>

