@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<div id="carouselExampleIndicators" class="banner carousel slide" data-ride="carousel">
    <partial name="~/Views/Shared/LandingLayout/_LandingBody.cshtml" />
</div>

<section class="index-blog-sec">
    <partial name="~/Views/Shared/LandingNews.cshtml" />
</section>


<section class="bg-black">
    <div class="container">
        <partial name="~/Views/Shared/LandingAboutUs.cshtml" />
    </div>
    <div class="counter">
        <partial name="~/Views/Shared/LandingVision.cshtml" />
    </div>
</section>

<section class="skills">
    <partial name="~/Views/Shared/LandingServices.cshtml" />
</section>



