@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<div id="carouselExampleIndicators" class="banner carousel slide" data-ride="carousel">
    <partial name="~/Views/Shared/LandingLayout/_LandingBody.cshtml" />
</div>

<section class="index-blog-sec">
    <div class="container">
        <div class="index-blog-heading" data-aos="zoom-in" data-aos-duration="800">
            <h3>Read Latest Finacial Happenings</h3>
        </div>
        <ul class="row r2">
            <li class="col-md-6 col-lg-4 m-b-34" data-aos="fade-up" data-aos-duration="800">
                <div class="blog-2">
                    <a href="blog.html">
                        <figure style="background: url(landing/images/finger.jpg);"></figure>
                    </a>
                    <a href="blog.html">
                        <h4>Engagement of Suzi</h4>
                        <span>jan 19,2016 / fashion, wedding</span>
                    </a>
                </div>
            </li>
            <li class="col-md-6 col-lg-4 m-b-34" data-aos="fade-up" data-aos-duration="1100">
                <div class="blog-2">
                    <a href="blog.html">
                        <figure style="background: url(landing/images/lastimg.jpg);background-position:center top;"></figure>
                    </a>
                    <a href="blog.html">
                        <h4>Engagement of Suzi</h4>
                        <span>jan 19,2016 / fashion, wedding</span>
                    </a>
                </div>
            </li>
            <li class="col-md-6 col-lg-4 m-b-34" data-aos="fade-up" data-aos-duration="1400">
                <div class="blog-2 blog-21">
                    <a href="blog.html">
                        <figure style="background: url(landing/images/lastimg.jpg);"></figure>
                    </a>
                    <a href="blog.html">
                        <h4>Engagement of Suzi</h4>
                        <span>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's 1500s, when an unknown..
                        </span>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's 1500s, when an unknown..
                        </p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="bg-black">
    <div class="container">
        <partial name="~/Views/Shared/LandingAboutUs.cshtml" />
    </div>
    <div class="counter">
        <partial name="~/Views/Shared/LandingVision.cshtml" />
    </div>
</section>

<section class="skills">
    <partial name="~/Views/Shared/LandingServices.cshtml" />
</section>



