@model MeckDoramenAndAssociates.Models.AboutUsBulletPoint

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="modal-header">
    <h3>
        DETAIL OF ABOUT US BULLET POINY
    </h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>About Us:</b></p>
                            <p>@ViewData["aboutusparagraphname"]</p>
                        </div>
                        <div class="col-md-12">
                            <p><b>Body:</b></p>
                            <p>@Html.DisplayFor(model => model.Body)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
</div>