<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <p style="color:white; text-align: center">  @ViewData["loggedinuserfullname"]</p>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a asp-action="Dashboard" asp-controller="Admin">
                    <i class="fa fa-dashboard"></i> <span>DASHBOARD</span>
                </a>
            </li>
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Landing">
                        <i class="fa fa-dashboard"></i> <span>LANDING DETAILS</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-car"></i> <span>SERVICES </span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="Index" asp-controller="Services"><i class="fa fa-circle-o"></i>Services</a></li>
                        <li><a asp-action="Index" asp-controller="SubService"><i class="fa fa-circle-o"></i>Sub-Services</a></li>
                        <li><a asp-action="Index" asp-controller="Paragraph"><i class="fa fa-circle-o"></i>Paragraphs</a></li>
                        <li><a asp-action="Index" asp-controller="BulletPoints"><i class="fa fa-circle-o"></i>Bullet Points</a></li>
                    </ul>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>