@using Microsoft.AspNetCore.Http


<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <p style="color:white; text-align: center">  @Context.Session.GetString("MDnAloggedinusername")</p>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a asp-action="Dashboard" asp-controller="Admin">
                    <i class="fa fa-dashboard"></i> <span>DASHBOARD</span>
                </a>
            </li>
            @if (ViewData["CanManageLandingDetails"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Landing">
                        <i class="fa fa-dashboard"></i> <span>LANDING DETAILS</span>
                    </a>
                </li>
            }
            @if (ViewData["CanManageNews"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="News">
                        <i class="fa fa-dashboard"></i> <span>NEWS</span>
                    </a>
                </li>
            }
            @if (ViewData["CanMangeUsers"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="ApplicationUser">
                        <i class="fa fa-dashboard"></i> <span>APPLICATION USER</span>
                    </a>
                </li>
            }
            @if (ViewData["CanManageServices"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Service">
                        <i class="fa fa-car"></i> <span>SERVICES</span>
                    </a>
                </li>
            }
            @if (ViewData["CanManageMarketResearch"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="MarketResearch">
                        <i class="fa fa-car"></i> <span>MARKET RESEARCH</span>
                    </a>
                </li>
            }
            @if (ViewData["CanManageAboutUs"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="AboutUs">
                        <i class="fa fa-car"></i> <span>ABOUT US</span>
                    </a>
                </li>
            }
            @if (ViewData["CanManageEnquiry"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Enquiry">
                        <i class="fa fa-dashboard"></i> <span>ENQUIRY</span>
                    </a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>