<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <p style="color:white; text-align: center">  @ViewData["loggedinuserfullname"]</p>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a asp-action="Dashboard" asp-controller="Admin">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Landing">
                        <i class="fa fa-dashboard"></i> <span>Landing Details</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Skills">
                        <i class="fa fa-dashboard"></i> <span>Skills</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Service">
                        <i class="fa fa-dashboard"></i> <span>Services</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="SubService">
                        <i class="fa fa-dashboard"></i> <span>Sub-Services</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Paragraph">
                        <i class="fa fa-dashboard"></i> <span>Paragraphs</span>
                    </a>
                </li>
            }
            @if (ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="BulletPoints">
                        <i class="fa fa-dashboard"></i> <span>Bullet Points</span>
                    </a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>