
<div class="container">
    <div class="row">
        <div class="d-none d-md-block col-md-4">
            <span>
                <a href="https://www.facebook.com">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a href="https://www.twitter.com">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.gmail.com">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </span>
        </div>

        <div class="col-6 col-md-4 text-md-center">
            <a asp-action="Index" asp-controller="Home">
                <img style="width:200px; height:80px;" src="~/UploadedFiles/Logo/@ViewData["logo"]" alt="logo">
            </a>
        </div>

        <div class="col-6 col-md-4">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReadMore" asp-controller="AboutUs">About Us</a>
                <a asp-action="ViewAllServices" asp-controller="Service">Our Services</a>
                <a asp-action="ReadMore" asp-controller="MarketResearch">Market Research</a>
                <a asp-action="MakeEnquiry" asp-controller="Enquiry">Make Equiry</a>
                <a asp-action="ReadNews" asp-controller="News">Read News</a>
                <a asp-action="Download" asp-controller="Brochure">Download PDF Format</a>

            </div>
            <button class='slide-menu float-right' onclick="openNav()">
                <span class="medium"></span>
                <span class="small"></span>
                <span class="large"></span>
                <span class="small"></span>
            </button>
        </div>
    </div>
</div>