
<div class="carousel-inner">
    <div class="carousel-item active" style="background: url(landing/images/banner_3.jpg);background-size:cover;background-repeat: no-repeat;">
        <div class="layer">
            <div class="container" data-aos="zoom-in" data-aos-duration="800">
                <h4>Welcome</h4>
                <span>to</span>
                <h4>Meck Doramen And Associates</h4>
                <a asp-action="Index" asp-controller="AboutUs">About Us</a>
            </div>
        </div>
    </div>
</div>