@model IEnumerable<MeckDoramenAndAssociates.Models.News>

@{
    ViewData["Title"] = "Read More";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .text-concat {
        position: relative;
        display: inline-block;
        word-wrap: break-word;
        overflow: hidden;
        text-align: justify;
        max-height: 4.0em;
        line-height: 1.0em;
    }
</style>

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3>
            <strong>READ LATEST NEWS</strong>
        </h3>
    </div>
</section>

<section class="products-body" style="padding-top: 65px;">
    <div class="container">
        <ul class="row">
            @foreach (var item in Model)
            {
                <li class="col-12 col-sm-12 col-md-12" data-aos="fade-up" data-aos-duration="800">
                    <h3 class="d-inline-block" style="text-transform: uppercase"><strong>@item.Title</strong></h3>
                    <p class="text-concat" style="padding-bottom:2px;">
                        @item.Body 
                    </p>
                    <p><a style="color:#ffd911" asp-action="ReadMore" asp-controller="News" asp-route-id="@item.NewsId">Click here</a> to Read More</p>
                </li>
            }
        </ul>
    </div>
</section>