@model MeckDoramenAndAssociates.Models.AboutUsParagraph

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> EDIT ABOUT US PARAGRAPH</strong> </h3>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--MODAL BODY-->
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <label>About Us Paragraph</label>
                    <select asp-for="AboutUsId" class="form-control" asp-items="ViewBag.AboutUs">
                        <option selected>----------------------- Select An About Us ------------------------</option>
                    </select>
                    <span asp-validation-for="AboutUsId" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-12">
                    <label>Body</label>
                    <textarea asp-for="Body" class="form-control "></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="hidden" asp-for="AboutUsId" />
                <input type="hidden" asp-for="AboutUsParagraphId" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="DateCreated" />
                <input type="submit" value="Add" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

