@model dynamic

@{
    ViewData["Title"] = "Subservice";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3 style="text-transform: uppercase">
            <strong>
               Market Research
            </strong>
        </h3>
    </div>
</section>

<section class="products-body" style="padding-top: 65px;">
    <div class="container">
        <ul class="row a">
            <li class="col-md-offset-1 col-md-10 col-md-offset-1" data-aos="fade-up" data-aos-duration="800" style="padding-bottom: 35px;">

                


                @foreach (var item in Model.MarketResearchParagraph)
                {
                    if(item.marketResearchParagraph.MarketResearch.Title != "")
                    {
                        <h1 style="text-align: justify; padding-bottom: 10px;">
                            @item.marketResearchParagraph.MarketResearch.Title
                        </h1>
                    }

                        

                   
                    <p style="text-align: justify; padding-bottom: 10px;">
                        @item.marketResearchParagraph.Body
                    </p>

                    @foreach (var marketResearchBullet in item.MarketResearchBullets)
                    {
                        <ul>
                            <li>
                                <p style="text-align: justify; padding-bottom: 3px;">O  @marketResearchBullet.Body</p>
                            </li>
                        </ul>
                    }

                
                }
            </li>
        </ul>
    </div>
</section>