
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>
        DASHBOARD
    </h1>
</section>


<section class="content">
    
</section>