@model MeckDoramenAndAssociates.Models.Contacts

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> ADD CONTACT DETAILS </strong> </h3>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--MODAL BODY-->
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <label>Address</label>
                    <textarea asp-for="Address" class="form-control "></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control " />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <label>Mobile 1</label>
                    <input asp-for="Number" class="form-control " />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label>Mobile 2</label>
                    <input asp-for="Number2" class="form-control " />
                    <span asp-validation-for="Number2" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


