@model MeckDoramenAndAssociates.Models.Service

@{
    Layout = "~/Views/Shared/SecondLandingLayout/_SecondLandingLayout.cshtml";
}

<section class="products-title">
    <div class="container">
        <h3>
            @Html.DisplayFor(model => model.Name)
        </h3>
    </div>
</section>

<section class="products-body">
    <div class="container">
        <ul class="row">
            <li class="col-12 col-sm-4 col-md-3" data-aos="fade-up" data-aos-duration="800">
                <figure style="background: url(UploadedFiles/Services/@Html.DisplayFor(model => model.Image);">
                </figure>
            </li>

            <li class="col-12 col-sm-8 col-md-9" data-aos="fade-up" data-aos-duration="800">
                <h3 class="d-inline-block">@Html.DisplayFor(model => model.Name)</h3>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                    type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </li>
        </ul>
    </div>
</section>