@model MeckDoramenAndAssociates.Models.SubService

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-widget">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p><b>Service:</b></p>
                            <p>@ViewData["servicename"]</p>
                        </div>
                        <div class="col-md-12">
                            <p><b>Name:</b></p>
                            <p>@Html.DisplayFor(model => model.Name)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
</div>