@model dynamic

@{
    ViewData["Title"] = "Subservice";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<section class="banner products-banner">
    <div class="layer">

    </div>
</section>

<section class="products-title">
    <div class="container">
        <h3 style="text-transform: uppercase">
            @ViewData["name"]
        </h3>
    </div>
</section>

<section class="products-body" style="padding-top: 65px;">
    <div class="container">
        <ul class="row a">
            @*<li class="col-12 col-sm-4 col-md-3" data-aos="fade-up" data-aos-duration="800">
                    <figure style="background: url(UploadedFiles/Services/@ViewData["image"];">
                    </figure>
                </li>*@

            <li class="col-md-offset-1 col-md-10 col-md-offset-1" data-aos="fade-up" data-aos-duration="800" style="padding-bottom: 35px;">
                @*<h3 class="d-inline-block">@Html.DisplayFor(model => model.Name)</h3>*@
                @foreach (Paragraph paragraph in Model.Paragraph)
                {
                    <p style="text-align: justify; padding-bottom: 10px;">@paragraph.Body</p>

                }
                @foreach (var bull in ViewBag.BulletPointList)
                {
                    <ul>
                        <li>
                            <p style="text-align: justify; padding-bottom: 3px;">@bull.Body</p>
                        </li>
                    </ul>

                }
            </li>
        </ul>
    </div>
</section>